@import '../../styles/settings.scss';

.component {
  background: darken($color-dark, 3%);
  padding: ($base-size * 1.5) 0;
  margin-bottom: $base-size;

  a {
    color: $color-light;
    text-decoration: none;
    font-weight: 700;
    margin-right: $base-size;
    transition: $transition;
    &:nth-of-type(2){
      margin-left: auto;
    }
    &:hover {
      color: $color-success;
    }
    &:global(.active) {
      color: $color-warning;
    }
  }

}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}