@import '../../styles/settings.scss';

.component {
    background: $color-light;
    border-radius: $radius;
    color: $color-dark;
    padding: ($base-size * 6);
    letter-spacing: 2px;

    p{
        font-size: ($base-size * 1.3);
    }
}